 <!-- About Me Section -->
 <br><br><br>
 <section class="aboutMe" id="aboutMe">
    <div class="wrapper">
        <h3>About Me</h3>
        <!-- about me content container -->
        <div class="aboutMeContentContainer">
            <!-- Profile Image Container -->
            <div class="profileImageContainer">
                <img src="../../assets/img/veronica.png" alt="Profile picture of Kyle Lau">
            </div>
            <!-- article container -->
            <div class="aboutMeTextContainer">
                <p>Hello there <span role="img" aria-label="hand waving">👋</span> , I'm Kyle - a web developer all about building accessible and responsive web applications!</p>
                <br>
                <p>With a background in healthcare, I offer a unique perspective and set of abilities to any web development team. I excel in fast-paced, high-pressure environments, whether working independently or in a group. I have a passion for creative problem solving and always seek to tackle new challenges. My caring nature and strong communication skills enable me to successfully navigate difficult circumstances and collaborate effectively with others.</p>
                <br>
                <p>When I'm not behind the screen, I enjoy taking my family on road trips <span role="img" aria-label="car">🚘</span>, trying new foods/recipes <span role="img" aria-label="bento box">🍱</span> (big foodie over here) and reading comics <span role="img" aria-label="multiple books">📚</span>!</p>
                <br> 
            </div>
        </div>
        <!-- end of about me content container -->
    </div>
    <!-- end of wrapper -->
</section>
<!-- end of about me section -->