<br>
<br>
<br>      
      <!-- Contact Section -->
       <section class="contact" id="contact">
        <div class="wrapper">
            <!-- contact info container -->
            <h3>Let's Connect!</h3>
            <div class="contactContentContainer">
                <div class="contactInfoContainer">
                    <p>Thank you for visiting! You can connect with me via social media or feel free to message me here! <br> Always down for a coffee chat or a virtual one!</p>
                    <!-- contact icon list -->
                    <ul class="contactIconList">
                        <li>
                            <a class="contactLinkIcon" target="_blank" href="https://www.linkedin.com/in/veronica-revilla-93787153/" aria-label="Link to LinkedIn">
                                <i class="fa-brands fa-linkedin" aria-hidden="true" title="LinkedIn Icon"></i>
                            </a>
                            <a class="contactLinkText" target="_blank" href="https://www.linkedin.com/in/veronica-revilla-93787153/" aria-label="Link to LinkedIn">linkedin.com/in/veronica</a>
                        </li>
                        <li>
                            <a class="contactLinkIcon" target="_blank" href="https://github.com/veronicarevilla" aria-label="Link to GitHub">
                                <i class="fa-brands fa-github" aria-hidden="true" title="GitHub Icon"></i>
                            </a>
                            <a class="contactLinkText" target="_blank" href="https://github.com/veronicarevilla" aria-label="Link to GitHub">github.com/veronica</a>
                        </li>
                        <li>
                            <a class="contactLinkIcon" target="_blank" href="https://calendly.com/veronica-revilla" aria-label="Link to Calendly">
                                <i class="fa-solid fa-calendar-days" aria-hidden="true" title="Calendly Icon"></i>
                            </a>
                            <a class="contactLinkText" target="_blank" href="https://calendly.com/veronica-revilla" aria-label="Link to Calendly">
                                calendly.com/veronica
                            </a>
                        </li>
                    </ul>
                    <!-- end of contact icon list -->
                </div>
                <!-- end of contact info container -->
                <!-- form container -->
                <div class="formContainer">
                    <!-- form start -->
                    <form action="https://formspree.io/f/mbjekpnn" method="post" name="contactForm" class="contactForm">
                        <!-- name -->
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" name="name" required id="name" placeholder="Name">
                        <!-- email -->
                        <label for="userEmail" class="sr-only">Email</label>
                        <input type="email" name="email" required id="userEmail" placeholder="Email">
                        <!-- input text -->
                        <label for="message" class="sr-only">Message</label>
                        <textarea name="message" id="message" rows="5" placeholder="Message" required></textarea>
                        <!-- submit button -->
                        <button type="button" onclick ="alert('Working on It')">Submit</button>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- end of form container -->
            </div>
        </div>
        <!-- end of wrapper -->
    </section>
    <!-- end of contact section -->