  <br>
  <br>
  <br>
  
  <!-- skills section -->
  <section class="skills" id="skills">
    <div class="wrapper">
        <h3>Skill Set</h3>
        <!-- Div to contain skill icons -->
        <div class="iconContainer">
            <!-- start of icon list -->
            <ul class="iconList">
                <li>
                    <i class="fa-brands fa-html5" aria-hidden="true"></i>
                    <p>HTML</p>
                </li>
                <li>
                    <i class="fa-brands fa-css3-alt" aria-hidden="true"></i>
                    <p>CSS3</p>
                </li>
                <li>
                    <i class="fa-brands fa-sass" aria-hidden="true"></i>
                    <p>SCSS/SASS</p>
                </li>
                <li>
                    <i class="fa-brands fa-square-js" aria-hidden="true"></i>
                    <p>JavaScript</p>
                </li>
                <li>
                    <i class="fa-brands fa-react" aria-hidden="true"></i>
                    <p>REACT</p>
                </li>
                <li>
                    <i class="fa-brands fa-github" aria-hidden="true"></i>
                    <p>GitHub</p>
                </li>
                <li>
                    <i class="fa-brands fa-git-alt" aria-hidden="true"></i>
                    <p>Git</p>
                </li>
                <li>
                    <i class="devicon-firebase-plain" aria-hidden="true"></i>
                    <p>Firebase</p>
                </li>
                <li>
                    <i class="fa-solid fa-gear" aria-hidden="true"></i>
                    <p>RESTful APIs</p>
                </li>
                <li>
                    <i class="fa-solid fa-universal-access" aria-hidden="true"></i>
                    <p>Accessibility</p>
                </li>
                <li>
                    <i class="fa-solid fa-desktop" aria-hidden="true"></i>
                    <p>Responsive Design</p>
                </li>
                <li>
                    <i class="fa-solid fa-handshake" aria-hidden="true"></i>
                    <p>Paired Programming</p>
                </li>
            </ul>
            <!-- end of icon list -->
        </div>
        <!-- end of icon container div -->
    </div>
    <!-- end of wrapper -->
</section>
<!-- end of skills section -->