
    <nav>
      <div class="wrapper navContentContainer">
          <p class="logo">VR</p>
          <ul class="menu hiddenAppear">
              <li><a href="#header" class="navLink">Home</a></li>
              <li><a routerLink="/about" class="navLink">About</a></li>
              <li><a routerLink="/skill" class="navLink">Skills</a></li>
              <li><a routerLink="/project" class="navLink">Projects</a></li>
              <li class="navContact"><a routerLink="/contact" class="navLinkContact">Contact</a></li>
          </ul>
      <!-- toggle button for night mode -->
      <!-- hamburger menu toggle button -->
          <a id="hamburger" class="hamburgerMenu" href="#">
              <i id="exitMenu" class="fa-solid fa-bars"></i>
          </a>
      </div>
  </nav>


 <router-outlet></router-outlet>


