 <!-- Projects Section -->
 <br><br><br>
 
 <section class="projects" id="projects">
    <div class="wrapper">
        <h3>Projects</h3>
        <div class="projectsContainer">
            <!-- project 1 -->
            <div class="projectOne">
                <div class="projectImgContainer">
                    <img src="../../assets/img/dynamo.png" alt="Home page of Giphy Sentiment website">
                </div>
                <div class="projectTextContainer">
                    <h4 class="projectTitle">Dynamo Viewer</h4>
                    <p class="projectLanguages">HTML, CSS, JavaScript, React, Firebase API</p>
                    <p class="projectDescription">Group programming project built with other developers. Allow users to express their emotions through Gifs and track their emotional states over time. A fun and engaging platform that is user-friendly, accessible and fully responsive. Made with <a class="partnerLink" target="_blank" href="https://jigmehara.com/" aria-label="Link to Jigme's portfolio">Jigme Hara</a>, <a class="partnerLink" target="_blank" href="https://jacksonwattbowers.com/" aria-label="Link to Jackson's portfolio">Jackson Watt-Bowers</a> and <a class="partnerLink" target="_blank" href="https://nealsymons.com/" aria-label="Link to Neal's portfolio">Neal Symons</a>.</p>
                    <div class="projectButtonsContainer">
                        <a target="_blank" class="projectButton" href="https://giphysentiment.netlify.app/" aria-label="Link to live site">view live</a>
                        <a target="_blank" class="projectButton" href="https://github.com/Cohort-48-group-06/Giphy-Sentiment" aria-label="Link to GitHub repository">view code</a>
                    </div>
                </div>
            </div>
            <!-- project 2 -->
            <div class="projectTwo">
                <div class="projectImgContainer">
                    <img src="../../assets/img/recipeGeniusProjectImage.png" alt="Recipe Genius website">
                </div>
                <div class="projectTextContainer">
                    <h4 class="projectTitle">Recipe Genius</h4>
                    <p class="projectLanguages">HTML, CSS, JavaScript, Firebase API, React</p>
                    <p class="projectDescription"> The easy to use recipe generator made with Edamam API, Firebase database and React library.</p>
                    <div class="projectButtonsContainer">
                        <a target="_blank" class="projectButton" href="https://recipegenius.netlify.app/"
                            aria-label="Link to live site">view live</a>
                        <a target="_blank" class="projectButton" href="https://github.com/KyleKHL/kyleLauProjectThree"
                            aria-label="Link to GitHub repository">view code</a>
                    </div>
                </div>
            </div>
            <!-- project 3 -->
            <div class="projectThree">
                <div class="projectImgContainer">
                    <img src="../../assets/img/sinisterSixtySecondAppImg.png" alt="Home page of Sinister Sixty Second Challenge website">
                </div>
                <div class="projectTextContainer">
                    <h4 class="projectTitle">The Sinister Sixty Second Challenge!</h4>
                    <p class="projectLanguages">HTML, CSS/SCSS, JavaScript, Firebase API</p>
                    <p class="projectDescription"> An engaging and interactive timed quiz app I created which tests one's knowledge about the villains in the
                        Marvel universe. Fully responsive, functional and made with vanilla JS. </p>
                    <div class="projectButtonsContainer">
                        <a target="_blank" class="projectButton" href="https://sinistersixtysecondchallenge.netlify.app/"
                            aria-label="Link to live site">view live</a>
                        <a target="_blank" class="projectButton" href="https://github.com/KyleKHL/sinisterSixtySecondChallenge"
                            aria-label="Link to GitHub repository">view code</a>
                    </div>
                </div>
            </div>
            <!-- project 4 -->
            <div class="projectFour">
                <div class="projectImgContainer">
                    <img src="../../assets/img/plantedCompanyProjectImage.png" alt="Home page of Planted Company">
                </div>
                <div class="projectTextContainer">
                    <h4 class="projectTitle">The Planted Company</h4>
                    <p class="projectLanguages">HTML, CSS/SCSS, JavaScript</p>
                    <p class="projectDescription">A fully responsive multi-page PSD conversion project that follows specific style guidelines. Functional
                        across various devices and screen sizes.</p>
                    <div class="projectButtonsContainer">
                        <a target="_blank" class="projectButton" href="https://theplantedcompany.netlify.app/"
                            aria-label="Link to live site">view live</a>
                        <a target="_blank" class="projectButton" href="https://github.com/KyleKHL/plantedCompany"
                            aria-label="Link to GitHub repository">view code</a>
                    </div>
                </div>
            </div>
            <!-- end of project four -->
        </div>
        <!-- end of projects container -->
    </div>
    <!-- end of wrapper -->
</section>
<!-- end of project section -->