    <!-- header -->
    <header id="header">
        <div class="wrapper">
            <div class="headerTextContainer">
                <h1>Vero Rev</h1>
                <div class="typedTextContainer">
                    <h2 class="typedText line">
                        Web Developer
                    </h2>
                </div>
            </div>
            <div class="headerImgContainer">
                <img src="../../assets/img/veronica.png" alt="Coding on laptop outside of coffee shop">
            </div>
        </div>
    </header>
    <!-- end of header -->